.row.mx-auto.my-auto.justify-content-center.align-items-center
  #recipeCarousel.carousel.slide(data-bs-ride="carousel", style="top:75vh; z-index:100")
    .carousel-inner
      each product in products
        .carousel-item
          .col-md-6
            .card.m-4.rounded-0.p-4
              .card-header.text-start.bg-transparent.border-0.isim 
                h2=product.name
                .row
                  .col-lg-5.col-md-12
                    .card-color
                      h3.product-color=product.color
                    .card-description
                      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, nisi? Dolorum assumenda laboriosam recusandae natus dolor. Exercitationem molestiae eaque soluta! Lorem ipsum dolor sit amet 
                      p.product-price(hidden)=product.price
                      p.product-code(hidden)=product.code
                      p.product-kategori(hidden)=product.category
                      p.product-marka(hidden)=product.brand
                      p.product-stok(hidden)=product.stock
                  .col-md-7
                    .card-img
                      img.img-fluid.product-image(src=`./img/${product.imageCover}`)
              .d-flex.justify-content-around.border-0.bg-transparent
                a.btn.btn-primary.rounded-circle(href="#")
                  img(src="/img/svg/eye.svg", height='35')
                a.btn.btn-primary.rounded-circle(href="#")
                  img(src="/img/svg/heart.svg", height='35')
                a.productModal.btn.btn-primary.rounded-circle
                  img(src="/img/svg/shopping-cart.svg", height='35')
a.carousel-control-prev.w-aut(href="#recipeCarousel", role="button", data-bs-slide="prev")
  span.carousel-control-prev-icon(aria-hidden="true", style="color:black!important")
a.carousel-control-next.w-aut(href="#recipeCarousel", role="button", data-bs-slide="next")
  span.carousel-control-next-icon(aria-hidden="true")